db.sqlite3
whereisit/__pycache__/
whereisit_app/__pycache__/__init__.cpython-37.pyc
whereisit_app/__pycache__/
whereisit_app/migrations/__pycache__/__init__.cpython-37.pyc
media/profile_pics/
whereisit_app/migrations/__pycache__/
media/items_pics/
