{% extends "whereisit_app/base.html" %}
{% block content %}
    <h2>This is <strong>Where-Is-It</strong> app.</h2>
    <br>
    <p>Keep track of your items and remember who saw it last ;).</p>
    {% if user.is_authenticated %}
        <br>Your items:
        <table class="table table-bordered">
            <tr>
                <th scope="col" class="table-info">users</th>
                <th scope="col" class="table-primary">name</th>
                <th scope="col" class="table-info">category</th>
                <th scope="col" class="table-primary">description</th>
                <th scope="col" class="table-info">location</th>
                <th scope="col" class="table-primary">is borrowed</th>
                <th scope="col" class="table-info">who borrowed</th>
                <th scope="col" class="table-primary">when borrowed</th>
                <th scope="col" class="table-info">days ago</th>
                <th scope="col" class="table-primary">options</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>
                        {{ item.users.all }}
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.is_borrowed }}</td>
                    <td>{{ item.who_borrowed }}</td>
                    <td>{{ item.when_borrowed|date }}</td>
                    <td>ile dni temu</td>
                    <td>
                        update / delete
{#                        <form method="POST">#}
{#                            {% csrf_token %}#}
{#                                <a href="#"><button class="btn btn-sm btn-primary" type="submit">Update</button></a>#}
{#                                <a href="#"><button class="btn btn-sm btn-danger" type="submit">Delete</button></a>#}
{#                        </form>#}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        Welcome, new User - register or log in.
    {% endif %}

{% endblock %}
