{% extends 'whereisit_app/base.html' %}
{% block content %}




    <div class="col mb-3">
        <h3>ITEM DETAILS</h3>
        <p>Here you can see specific item detail information.<br>
        You can <strong>Edit</strong> it or <strong>Delete</strong> it, if your want.<br>
            At the very bottom you can see a <strong>map</strong> of the appartment <br>with a <strong>dot</strong>
            in a place of the chosen location. </p>
        <br>
        <h4><strong>Name:</strong> {{ item.name }}</h4><br>
        <div class="mt-1 mb-4">
            <img class="img-thumbnail" src="{{ item.image.url }}">
        </div>


        <strong>Belongs to groups:</strong>
        {% for group in item.groups.all %}
            {{ group.name }},
        {% endfor %}<br>
        <strong>Category:</strong> {{ item.category }}<br>
        <strong>Few words about it:</strong> {{ item.description }}<br>
        <strong>Where is it now:</strong> {{ item.location }}<br>
        <strong>Did anybody borrow it?:</strong>
        {% if item.is_borrowed %}
            Yes
            <br>
            <strong>Borrowed by:</strong> {{ item.who_borrowed }}<br>
            <strong>Borrowed when:</strong> {{ item.when_borrowed|date }}<br>
            <strong>It`s been so many days:</strong>
            <td>
                {% if item.when_borrowed %}
                    {{ days_passed.days }}
                {% endif %}
            </td>
        {% else %}
            No
        {% endif %}
        <br>
        <br>
    </div>

    <p class="col mt-2 mb-2">

        <a href="{% url 'item-update' item.id %}">
            <button type="submit" class="btn btn-outline-info">Update</button>
        </a>
        <a href="{% url 'item-delete' item.id %}">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </a>
    </p>

    <h4 class="mt-3 mb-3">This is the usual location of your item:</h4>
    <div id="container">
        <img src="/media/m_plan.jpg" id="" alt="map_image" />
        <img src="/media/m_dot.png" id="imgdot" alt="dot_image"
        style="left:{{ item.location.position_x }}px; top:{{ item.location.position_y }}px"/>
    </div>
{% endblock %}